<link rel="stylesheet" href="css/t-main.css">
<link rel="stylesheet" href="css/item-div.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/53a6e28f25.js" crossorigin="anonymous"></script>
<!-- ###################################################### -->
<%
var first_name = 'Billie';
var last_name = 'Ellish';
var full_name = first_name +' '+last_name;
var profile_img_url = 'img/profile.jpg';
var profile_img_alt = full_name+' profile picture';
var since = '15 hrs';
var post_text = 'Hey I am Bellie Ellish and lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque suscipit odit laborum facilis earum minus numquam ducimus modi dicta, nesciunt quo aperiam inventore dolore harum officiis voluptate qui necessitatibus accusantium similique impedit minima iusto cupiditate. Suscipit possimus vero illo rem nobis, maxime laudantium similique repudiandae consequatur odio doloribus totam velit eos nihil molestiae, adipisci, doloremque debitis ex officiis dolores quidem beatae quos quibusdam ducimus! Non soluta aspernatur error est. Eligendi est cumque harum illo ad voluptatum placeat rem, natus architecto, tenetur nam repudiandae doloribus pariatur fuga fugit laborum praesentium libero expedita ipsum reprehenderit nihil animi odit? Totam eveniet reiciendis optio laboriosam soluta, nulla voluptatum quasi odio velit laborum sunt atque cumque nihil dolores sint at. Repellendus, maiores, enim ea dolores nam obcaecati iste omnis voluptatum temporibus alias dolorum ipsam voluptates amet tempore itaque harum nemo odit et facilis quae non sit! Neque totam dolor quasi rerum blanditiis perspiciatis nostrum ratione.';
var post_img = 'img/post.jpg'
%>
<!-- ###################################################### -->
    <div class="t-item">
        <div class="body">
            <div class="navbar">
                <div class="left">
                    <div class="profile-pic">
                        <div class="border"></div>
                        <img src="<%=profile_img_url%>" alt="<%=profile_img_alt%>">
                    </div>
                    <div class="user-name">
                        <div class="name"><%=full_name%></div>
                        <div class="since"><%=since%></div>
                    </div>
                </div>
                <div class="right">
                    <!-- <i class="fas fa-angle-down"></i> -->
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
            <div class="content">
                <p class="post-text"><%=post_text%></p>
                <img class="post-img" src="<%=post_img%>">
            </div>
        </div>
        <div class="comments">
            <div class="row-a">
                
            </div>
            <div class="row-b">
                
            </div>
            <div class="row-c">
                
            </div>
            <div class="row-d">
                
            </div>
        </div>
    </div>

